courses/SISWEB/Listas/esquema2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="contato" type="tipoDeContato"/>

<xsd:complexType name="tipoDeContato">
	<xsd:sequence>
			<xsd:element name="nome" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence>
	<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>

</xsd:schema>